body {
	padding-top: 40px;
	padding-left: 15px;
}
.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}
.success {
  background-color: #f2dede;
}
.brand-text {
	color: #fff;
	float: left;
	height: 50px;
	padding-top: 15px;
	padding-right: 15px;
	font-size: 18px;
	line-height: 20px;
}
.form-error {
  background-color: #f2dede;
}