header {
	min-width: 1024px;
	width: auto;
	height: 80px;
	background-color: black;
	font-family: "Myriad Pro", Calibri;
	color: white;
	font-size: 10;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
    background-color: #00a550;
	background-size: 100% 100%;
	font-family: "Myriad Pro", Myriad, Calibri;
	color: white;
}
#nav {
	width: 90%;
	height: 100%;
	margin: auto;
}
#logo {
	width: 15%;
	height: 100%;
	float: left;
}
#tabarea{
	width: 45%;
	height: 100%;
	float: left;
	position: relative;
}
#navtab {
	width: 33%;
	height: 100%;
	float: left;
	margin: auto;
}
#login, #logout {
	width: 25%;
	height: 90%;
	float: right;
	margin: auto;
	padding-top: 2%;
}
.div-tab{
	height: 100%;
	position: center;
}
.div-tab img{
	height: 100%;
	position: center;
}
.div-logo{
	position: relative;
}
.div-logo img{
	height: 100%;
	position: center;
}